.Eightball{
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    text-align: center;

}

.answer{
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
}

#button{
    margin-top: 5px;
}